<!doctype html>
<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  />

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
{% extends 'share_layout.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img
        src="{{ tour.thumbnail.url }}"
        alt="{{ tour.title }}"
        class="img-fluid rounded"
      />
    </div>
    <div class="col-md-6">
      <h1 class="display-4">{{ tour.title }}</h1>
      <p class="lead">{{ tour.description }}</p>
      <hr />
      <p><strong>Price:</strong> {{ tour.price }} Đồng</p>
      <p><strong>Duration:</strong> {{ tour.duration }} days</p>
      <a href="/bookings/create/{{ tour.id }}" class="btn btn-primary btn-lg"
        >Book Now</a
      >
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2>Tour Highlights</h2>
      <ul>
        {% for highlight in tour.highlights %}
        <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div
    id="map"
    style="
      height: 550px;
      width: 100%;
      border: 2px solid #007bff;
      border-radius: 8px;
    "
  ></div>
  <script src="{% static 'js/map.js' %}"></script>
</div>
{% endblock %}
